{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom de l'évènement</th>
                <th>Date</th>
                <th>Description</th>
                {# <th>CreateAt</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programmation in programmations %}
            <tr>
                {# <td>{{ programmation.id }}</td> #}
                <td>{{ programmation.name }}</td>
                <td>{{ programmation.dateParty ? programmation.dateParty|date('d-m-Y') : '' }}</td>
                <td>{{ programmation.description }}</td>
                {# <td>{{ programmation.createAt ? programmation.createAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_programmation_show', {'id': programmation.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_programmation_edit', {'id': programmation.id}) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_programmation_new') }}">Ajouter un évènement</a>
    {% endif %}
{% endblock %}
