{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom de scène</th>
                <th>Complément</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                {# <td>{{ artist.id }}</td> #}
                <td>{{ artist.firstname }}</td>
                <td>{{ artist.Lastname }}</td>
                <td>
                    <a href="{{ path('app_artist_show', {'id': artist.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_artist_edit', {'id': artist.id}) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_artist_new') }}">Ajouter</a>
    {% endif %}
{% endblock %}
